{{#if isEditingProduct}}
  <tr>
    <td>{{input value=product.name  placeholder="Name"}}</td>
    <td>{{input value=product.price  placeholder="Price"}}</td>
    <td>{{input value=product.quantity  placeholder="Quantity"}}</td>

    <button class="saveButton button" {{action 'saveProduct'}}>SAVE</button>
    <button class="cancelButton button" {{action 'cancelEditingProduct'}}>CANCEL</button>

  </tr>
{{else}}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <button class="editButton button" {{action 'editProduct'}}>EDIT</button>
    <button class="deleteButton button" {{action 'deleteProduct' product}}>DELETE</button>
  </tr>
{{/if}}



{{yield}}