{{#if isEditingShop}}
  <tr>
    <td>
      {{input value=shop.name  placeholder="Name"}}
    </td>

      <button  {{action 'saveShop'}}>SAVE</button>
      <button {{action 'cancelEditingShop'}}>CANCEL</button>

  </tr>
{{else}}
  <tr>
    <td>
      {{#link-to "shops.shop" shop.id }}{{shop.name}}{{/link-to}}
    </td>

      <button class="editButton button" {{action 'editShop'}}>EDIT</button>
      <button class="deleteButton button" {{action 'deleteShop' shop}}>DELETE</button>

  </tr>
{{/if}}



{{yield}}