<h1>SHOPS/{{model.name}}</h1>

<table style="width:60%">
<tr>
  <th><h5>NAME</h5></th>
  <th><h5>QTY</h5></th>
  <th><h5>PRICE</h5></th>
</tr>

{{#each model.products as |product|}}
    {{#product- product=product}}{{/product-}}
{{/each}}

<h1>Total Price: {{model.totalPrice}}</h1>
</table>

{{#if isAddingProduct}}
  {{input value=newProductName  placeholder="Name"}}
  {{input value=newProductPrice  placeholder="Price"}}
  {{input value=newProductQuantity  placeholder="Quantity"}}
  <button class="saveButton button" {{action 'addSavedProduct'}}>Save & Add</button>
  <button {{action 'cancelAddProduct'}}>CANCEL</button>
{{else}}
    <button class="addButton button" {{action 'addProduct'}}>Add Product</button>
{{/if}}