<h1>SHOPS/{{model.name}}</h1>

{{#each model.products as |product|}}
    {{#product- product=product}}{{/product-}}
{{/each}}

<h1>Total Price: {{model.totalPrice}}</h1>

{{#if isAddingProduct}}
  {{input value=newProductName  placeholder="Name"}}
  {{input value=newProductPrice  placeholder="Price"}}
  {{input value=newProductQuantity  placeholder="Quantity"}}
  <button  {{action 'addSavedProduct'}}>Save & Add</button>
  <button {{action 'cancelAddProduct'}}>CANCEL</button>
{{else}}
    <button  {{action 'addProduct'}}>ADD PRODUCT</button>
{{/if}}