

<h1>SHOPS</h1>

{{#each model as |shop|}}
  {{#shop- shop=shop}}{{/shop-}}

{{/each}}

{{#if isAddingShop}}
  {{input value=newShopName  placeholder="Name"}}
  <button  {{action 'addSavedShop'}}>Save & Add</button>
  <button {{action 'cancelAddShop'}}>CANCEL</button>
{{else}}
  <button  {{action 'addShop'}}>ADD SHOP</button>
{{/if}}

{{outlet}}

